/* html{
    min-width: 700px;
} */
body{
    margin:0;
    padding:0;
    font-family:  "Signika", sans-serif;
    /* background-color:#121212; */
    background-color: black;
    display:flex;
    /* min-width: 700px; */
    overflow: hidden;
}

/* Section 1:  Main Header (TOP) */
.mainHeader{
    height: 65px;
    width:100%;
    position:fixed;
    top:0; 
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
}
    /* .mainHeader -> .left */
.left{
    color:#b3b3b3;
    margin-left:20px;  
    font-size: 1.4rem;   
}
.left i{
    margin-right: 20px;
}
.left i:nth-of-type(1){
    color:white;
}
     /* .mainHeader -> .middle */
.middle i{
    font-size: 1.1rem;
    color:#b3b3b3;
    background-color: #212121;
    padding:0.8em;
    border-radius:50%;
    margin-right:10px;
}
.middle i:hover{
    color:white;
   transform:scale(1.04);
}
.middle .hide{
    display:none;
}
.middle input{
    border-radius: 30px;
    background-color: #212121;
    border:none;
    padding: 0.8em;
    width:400px;
    font-size: 1rem;
    transition: border 500ms ease-in-out;
}
.middle input:hover{
    background-color:#43434389;
    border-radius: 30px;
    border:1px solid #b3b3b3;
}

     /* .mainHeader -> .right */
.right{
    display:flex;
    align-items: center;
}
.right i{
    color:#b3b3b3;
    margin-right: 20px;
}
.right i:hover{
    color:white;
    transform: scale(1.1);
}
.profile{
    height:30px;
    width:30px;
    border-radius:50%;
    margin-right: 25px;
    border: 5px solid #b3b3b350;
}
.profile:hover{
    transform: scale(1.1);
}

@media(max-width:1000px){
    .middle input{
        width:300px;
    }
}
@media(max-width:800px){
    .middle input{
        display:none;
    }
    .middle .hide{
        display:inline;
    }
    .mainHeader{
        justify-content: flex-start;
    }
    .right{
        margin-left: auto;
    }
}
/* .middle .hide:hover{
    transform:scale(1.04);
} */


/* Section 2: Sidebar */
.sidebarMenu{
    width:385px;
    height:100vh;
    margin:65px 6px 0;
    background-color: #121212;
    border-radius: 10px;  
}

/*  .sidebarMenu -> .libNav*/
.libNav{
    margin:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:	#b3b3b3;
    font-size:18px;
}
.myLib:hover .yourLib{
    color:white;
}
.libIcon{
    height:20px;
    margin-right: 20px;
}
.fa-plus{
    margin-left:auto;
    margin-right:20px;
}
.fa-plus, .fa-arrow-right{
    border-radius: 50%;
    padding:5px;
}
.fa-plus:hover, .fa-arrow-right:hover{
    color:white;
    background-color: #212121;
}


/*  .sidebar -> .albumsToShow*/
.albumsToShow{
    display:flex;
    justify-content: start;
    margin:20px;
}
.albumsToShow button{
    color:white;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #212121;
    border:none;
    border-radius: 15px;
    padding:0.6em 0.8em;   
    margin-right:15px;
}
.albumsToShow i{
    width:13px;
}
.albumsToShow button:hover{
    background-color: #4545458c;
}


/* .sidebar -> .albumLib */
.albumLib{
    margin:20px 0 70px 20px;
    height:700px;
    overflow:hidden;
}

.albumLib::-webkit-scrollbar {
    width: 12px;
}
.albumLib::-webkit-scrollbar-thumb {
    background: #888;
}
.albumLib::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.albumLib:hover{
    overflow-y:scroll;
}


    /* .sidebar -> .albumLib -> .itemNav */
.itemNav{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    color:#b3b3b3;
    font-size: 0.95rem;
}
.fa-magnifying-glass{
    padding:10px;
    border-radius: 50%;
}
.fa-magnifying-glass:hover{
    background-color: #4545458c;
}
.recents{
    display:flex;
    align-items:center;
    margin-left:auto;
    margin-right:10px;
}
.recents:hover{
    color:white;
    transform: scale(1.04);
}
.recents p{
    margin-right: 15px;
}

    /* .sidebar -> .albumLib -> .item */
.item{
    display:flex;
    margin-top:12px;
    margin-right: 10px;
    padding:5px;
    border-radius: 5px;
}
.item:hover{
    background-color: #212121;
}
.item img{
    width:50px;
    height:50px;
    border-radius:5px;
    margin-right:15px;
}
.item .artist{
    border-radius:50%;
}
.albumInfo{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
}
.name{
    color:white;
    margin:0;
}
.info{
    color:#b3b3b3;
    margin:0;
    font-size: 0.90rem;
}
.info i{
    color:#1DB954;
    margin-right: 10px;
    transform:rotate(45deg);
}
.info span{
    padding:0 3px;
    font-weight: 900;
}


@media(max-width:800px){
    .sidebarMenu{
        width:fit-content;
    }
    .libNav i, .libNav span, .albumsToShow, .albumLib .itemNav, .albumLib .albumInfo{
        display:none;
    }
    .libNav .libIcon, .item .imgSidebar{
        margin-right:0;
    }
}

/* Section 3: Main Content */
.mainContent{
    /* height:550px; */
    height:100vh;
    flex-grow:1;
    margin-top:65px;
    padding-bottom: 200px;
    background-color: #121212;
    border-radius: 10px;
    overflow:hidden;
}
.mainContent:hover{
    overflow-y:auto;
}
.mainContent::-webkit-scrollbar {
    width: 12px;
}
.mainContent::-webkit-scrollbar-thumb {
    background: #888;
}
.mainContent::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* .mainContent -> nav */
.mainContent nav{
    margin-top: 30px;
    margin-left:30px;
}
.mainContent ul{
    padding-left:0;
}
.mainContent li{
    display:inline;
    color:white;
    background-color: #212121;
    border-radius:30px;
    padding:10px 15px;
    margin-right:10px;
    font-size:0.95rem;
}
.mainContent li:hover{
    color:black;
    background-color: white;
}

    /* .mainContent -> .recentAlbums  */
.recentAlbums{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr);
    column-gap: 10px;
    margin-left:30px;
    margin-right:30px;
}
.recentAlbums .item{
    min-width: none;
    border-radius:5px;
    background-color: #212121;
    display:flex;
    align-items: center;
}
.recentAlbums .item i{
    display:none;
    margin-left: auto;
    margin-right: 10px;
    color:#1DB954;
    background-color: #121212;
    border-radius: 50%;
}
.recentAlbums .item:hover{
    background-color:#46464686 ;
}
.recentAlbums .item:hover .fa-circle-play{
    display:inline;
}
@media(max-width:1236px){
    .recentAlbums{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(4, 1fr);
    }
    .recentAlbums .item{
        min-width:285px;
    }
}

    /* .mainContent -> .cardHeading */
.cardHeading{
    display:flex;
    justify-content: space-between;
    margin:30px;
    margin-bottom: 0;
}
.cardHeading h4{
    color:white;
    font-size: 1.2rem;
    margin: 10px 0;
}
.cardHeading p{
    color:#b3b3b3;
}
.cardHeading h4:hover{
    border-bottom: 2px solid white;
}
.cardHeading p:hover{
    border-bottom: 2px solid #b3b3b3;
}

    /* .mainContent -> .madeForYou & .bestOfArtists */
.madeForYou, .bestOfArtists{
    margin:20px;
    margin-top: 0;
    display:flex;
    justify-content: space-between;
}

.card{
    border-radius: 10px;
    padding:10px;
    /* width:fit-content; */
    width:160px;
}
.card:hover{
    background-color: #3c3c3c90;
}
h5{
    margin:0;
    margin-top: 5px;
    color:white;
    font-size: 1.02rem;
    font-weight:500;
}
.card p{
    font-size: 0.8rem;
    font-weight: 200;
    color: #b3b3b3;
}
.madeForYou img{
    /* height:160px; */
    width:100%;
    border-radius: 10px;
}
.bestOfArtists img{
    /* height:160px; */
    width:100%;
    border-radius: 10px;
}
@media(max-width:1380px){
    .c6{
        display:none;
    }
}
@media(max-width:1240px){
    .c5{
        display:none;
    }
    .madeForYou .card ,.bestOfArtists .card{
        width:160px; 
    }
}
@media(max-width:1140px){
    .c4{
        display:none;
    }
    .madeForYou .card ,.bestOfArtists .card{
        width:190px; 
    }
}
@media(max-width:1000px){
    .c3{
        display:none;
    }
    .madeForYou .card ,.bestOfArtists .card{
        width:240px; 
    }
}
@media(max-width:800px){
    .c3{
        display:inline;
    }
    .madeForYou .card ,.bestOfArtists .card{
        width:190px; 
    }
}

hr{
   height:200px;
   background-color: #121212;
   border:none;
}


/* Section 4: Currect Song Info (Footer) */
.currentSongInfo{
    /* border:1px solid white; */
    height: 80px;
    width:100%;
    position:fixed;
    bottom:0;
    z-index:2;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left:15px;
    background-color: black;
}
    /* .currentSongInfo -> .currentSong*/
.currentSong{
    display: flex;
    align-items: center;
    flex:1;
    color:#b3b3b3;
}
.currentSong img{
    height:50px;
    width:50px;
    border-radius: 5px;
}
.songInfo{
    margin: 0 10px;
}
.songInfo p{
    margin:0 10px;
    font-size: 0.8rem;
}
.currentSong .songName{
    color:white;
    font-size: 0.9rem;
}
.addSong{
    width:10px;
    height:10px;
}

    /*  .currentSongInfo -> .playBackControls*/
.playbackControls{
    width:40%;
    display: flex;
    flex-direction: column;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-circle-play{
    font-size:2rem;
}
.controls i{
    color:white;
    margin-right: 20px;
}
.controls img{
    height:16px;
    width:16px;
   
    margin-right: 20px;
}
.controls i:hover, .controls img:hover{
    transform: scale(1.08);
}
.progress{
    display: flex;
    justify-content: space-between;
}
.progress input{
    appearance: none;
    width:80%;   
    height:4px;
    border-radius: 5px;
    background-color: #1DB954;
    margin-top:10px;
    
}
.progress input::-webkit-slider-thumb{
    appearance: none;
    height:12px;
    width:12px;
    border-radius:50%;
    background-color: white;
}

.progress span{
    color:white;
    font-size:14px;
    font-weight: 200;
}

    /*  .currentSongInfo -> .miscControls*/
.miscControls{
    flex:1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-right:15px ;
}
.miscControls i{
    color:#b3b3b3;
    margin-right: 15px;
    font-size:13px;
}
.miscControls i:hover{
    color:white;
    transform:scale(1.1);
}
.miscControls input{
    margin-right: 15px;
    appearance: none;
    height:4px;
    border-radius: 5px;
    background-color: white;
}
.miscControls input::-webkit-slider-thumb{
    appearance: none;
    height:13px;
    width:13px;
    border-radius:50%;
    background-color: white;
}
@media(max-width:865px){
    .miscControls{
        display:none;
    }
    .currentSong{
        display:none;
    }
    .playbackControls{
        width:60%;
    }
    .currentSongInfo{
        justify-content: center;
    }
}
